# DATA CARD

In [1]:
import pyodbc
import pandas as pd

In [2]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=wd02;"
                        "Database=FootPrint;"
                        "Trusted_Connection=yes;")

## Query - Week

In [79]:
w10 = pd.read_sql_query("select description Description, d1 Monday, d2 Tuesday, d3 Wednesday, d4 Thursday, d5 Friday\
    from KPower_BI.RHL_DataCard_Report(2022,27,1)\
    where itemsId in (4, 5, 8, 72, 73)\
    order by itemsId", cnxn)

w12 = pd.read_sql_query("select description Description, d1 Monday, d2 Tuesday, d3 Wednesday, d4 Thursday, d5 Friday\
    from KPower_BI.RHL_DataCard_Report(2022,27,9)\
    where itemsId in (4, 5, 8, 72, 73)\
    order by itemsId", cnxn)

w15 = pd.read_sql_query("select description Description, d1 Monday, d2 Tuesday, d3 Wednesday, d4 Thursday, d5 Friday\
    from KPower_BI.RHL_DataCard_Report(2022,27,12)\
    where itemsId in (4, 5, 8, 72, 73)\
    order by itemsId", cnxn)

w16 = pd.read_sql_query("select description Description, d1 Monday, d2 Tuesday, d3 Wednesday, d4 Thursday, d5 Friday\
    from KPower_BI.RHL_DataCard_Report(2022,27,14)\
    where itemsId in (4, 5, 8, 72, 73)\
    order by itemsId", cnxn)

w18 = pd.read_sql_query("select description Description, d1 Monday, d2 Tuesday, d3 Wednesday, d4 Thursday, d5 Friday\
    from KPower_BI.RHL_DataCard_Report(2022,27,20)\
    where itemsId in (4, 5, 8, 72, 73)\
    order by itemsId", cnxn)

w19 = pd.read_sql_query("select description Description, d1 Monday, d2 Tuesday, d3 Wednesday, d4 Thursday, d5 Friday\
    from KPower_BI.RHL_DataCard_Report(2022,27,16)\
    where itemsId in (4, 5, 8, 72, 73)\
    order by itemsId", cnxn)

w20 = pd.read_sql_query("select description Description, d1 Monday, d2 Tuesday, d3 Wednesday, d4 Thursday, d5 Friday\
    from KPower_BI.RHL_DataCard_Report(2022,27,23)\
    where itemsId in (4, 5, 8, 72, 73)\
    order by itemsId", cnxn)

w21 = pd.read_sql_query("select description Description, d1 Monday, d2 Tuesday, d3 Wednesday, d4 Thursday, d5 Friday\
    from KPower_BI.RHL_DataCard_Report(2022,27,25)\
    where itemsId in (4, 5, 8, 72, 73)\
    order by itemsId", cnxn)

w22 = pd.read_sql_query("select description Description, d1 Monday, d2 Tuesday, d3 Wednesday, d4 Thursday, d5 Friday\
    from KPower_BI.RHL_DataCard_Report(2022,27,26)\
    where itemsId in (4, 5, 8, 72, 73)\
    order by itemsId", cnxn)

In [80]:
w10['Warehouse'] = 10
w12['Warehouse'] = 12
w15['Warehouse'] = 15
w16['Warehouse'] = 16
w18['Warehouse'] = 18
w19['Warehouse'] = 19
w20['Warehouse'] = 20
w21['Warehouse'] = 21
w22['Warehouse'] = 22

In [81]:
df = pd.concat([w10, w12, w15, w16, w18, w19, w20, w21, w22])

In [82]:
df = df[['Warehouse', 'Description', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']]
df.head()

   Warehouse           Description Monday Tuesday Wednesday Thursday Friday
0         10       OUTBOUND ORDERS    859    1115      1276      749    796
1         10       OUTBOUND ORDERS    963     458         0        0      0
2         10            NEW ORDERS    509     357         0        0      0
3         10      CARRYOVER ORDERS    127      12         0        0      0
4         10  OPEN ORDERS > 7 DAYS      7       4         0        0      0

In [74]:
#df.set_index('Warehouse', inplace=True)
#df.head()

                    Description Monday Tuesday Wednesday Thursday Friday
Warehouse
10              OUTBOUND ORDERS    859    1115      1276      749    796
10              OUTBOUND ORDERS    963     458         0        0      0
10                   NEW ORDERS    509     357         0        0      0
10             CARRYOVER ORDERS    127      12         0        0      0
10         OPEN ORDERS > 7 DAYS      7       4         0        0      0

In [83]:
# Save DF into json file
df.to_json('data/data_card.json', orient='records')

### Query

In [65]:
df1 = pd.read_sql_query("select w.name warehouse, DATENAME(weekday, '2022-04-18') as WeekDayName, oc.name operation, count(distinct(t.id)) quantity\
    from datex_footprint.Tasks t\
        join datex_footprint.OperationCodes oc\
            on oc.id = t.operationCodeId\
        join datex_footprint.Warehouses w\
            on w.id = t.warehouseId\
    where t.createdSysDateTime > '2022-04-18' AND t.createdSysDateTime < '2022-04-19' AND oc.name in ('Batch Move', 'Count', 'Inventory Adjustment', 'InventoryMove', 'License Plate Pick', 'LicensePlateMove', 'Picking', 'Receiving')\
    group by w.name, oc.name\
    order by warehouse, operation", cnxn)

In [66]:
df2 = pd.read_sql_query("select w.name warehouse, DATENAME(weekday, '2022-04-19') as WeekDayName, oc.name operation, count(distinct(t.id)) quantity\
    from datex_footprint.Tasks t\
        join datex_footprint.OperationCodes oc\
            on oc.id = t.operationCodeId\
        join datex_footprint.Warehouses w\
            on w.id = t.warehouseId\
    where t.createdSysDateTime > '2022-04-19' AND t.createdSysDateTime < '2022-04-20' AND oc.name in ('Batch Move', 'Count', 'Inventory Adjustment', 'InventoryMove', 'License Plate Pick', 'LicensePlateMove', 'Picking', 'Receiving')\
    group by w.name, oc.name\
    order by warehouse, operation", cnxn)

In [67]:
df3 = pd.read_sql_query("select w.name warehouse, DATENAME(weekday, getdate()) as WeekDayName, oc.name operation, count(distinct(t.id)) quantity\
    from datex_footprint.Tasks t\
        join datex_footprint.OperationCodes oc\
            on oc.id = t.operationCodeId\
        join datex_footprint.Warehouses w\
            on w.id = t.warehouseId\
    where t.createdSysDateTime > '2022-04-20' AND t.createdSysDateTime < '2022-04-21' AND oc.name in ('Batch Move', 'Count', 'Inventory Adjustment', 'InventoryMove', 'License Plate Pick', 'LicensePlateMove', 'Picking', 'Receiving')\
    group by w.name, oc.name\
    order by warehouse, operation", cnxn)

# Create Data Card

In [68]:
df = df1.append(df2).append(df3)
df.head()

  warehouse WeekDayName             operation  quantity
0        10      Monday            Batch Move       251
1        10      Monday                 Count        58
2        10      Monday  Inventory Adjustment        11
3        10      Monday         InventoryMove         7
4        10      Monday    License Plate Pick        11

In [69]:
# Convert Statuses to Columns
dc_df = df.pivot(index=['warehouse', 'WeekDayName'], columns='operation', values='quantity')
dc_df

operation              Batch Move  Count  Inventory Adjustment  InventoryMove  \
warehouse WeekDayName
10        Monday            251.0   58.0                  11.0            7.0
          Tuesday            98.0  136.0                  11.0            7.0
          Wednesday         122.0   30.0                  12.0           20.0
102       Monday              NaN    NaN                   NaN            NaN
          Tuesday             NaN    NaN                   NaN            NaN
          Wednesday           NaN    NaN                   NaN            NaN
12        Monday              NaN    NaN                   NaN            NaN
          Tuesday             NaN    NaN                   1.0            NaN
          Wednesday           NaN    NaN                   NaN            NaN
15        Monday              NaN    7.0                   NaN            1.0
          Tuesday             NaN   57.0                   1.0            NaN
          Wednesday           NaN   18.0                   1.0            NaN
16        Monday              NaN    NaN                   NaN            1.0
          Tuesday             NaN    NaN                   NaN            NaN
          Wednesday           NaN    NaN                   NaN            NaN
17        Monday              NaN    NaN                   NaN            NaN
          Wednesday           NaN    NaN                   NaN            NaN
18        Monday            166.0    NaN                   1.0            1.0
          Tuesday            25.0    NaN                   NaN            NaN
          Wednesday           8.0    NaN                   NaN            2.0
19        Monday              NaN    NaN                   NaN            NaN
          Tuesday             NaN    5.0                   NaN           66.0
          Wednesday           NaN    2.0                   1.0            9.0
20        Monday              NaN   73.0                   2.0            2.0
          Tuesday             NaN   80.0                   2.0            NaN
          Wednesday           NaN   68.0                   1.0            1.0
21        Monday              NaN    NaN                   NaN            NaN
          Tuesday             NaN    NaN                   NaN            NaN
          Wednesday           NaN    NaN                   NaN            NaN
22        Monday              NaN    NaN                   NaN            NaN
          Tuesday             NaN    NaN                  15.0            NaN
          Wednesday           NaN    NaN                   NaN            NaN

operation              License Plate Pick  LicensePlateMove  Picking  \
warehouse WeekDayName
10        Monday                     11.0              27.0   2453.0
          Tuesday                    21.0              54.0   1016.0
          Wednesday                  70.0              66.0   1524.0
102       Monday                      1.0               1.0      1.0
          Tuesday                     1.0               1.0      1.0
          Wednesday                   3.0               3.0      3.0
12        Monday                      NaN              67.0      NaN
          Tuesday                    24.0               6.0     34.0
          Wednesday                  31.0               8.0    144.0
15        Monday                      NaN               5.0    316.0
          Tuesday                     3.0               2.0    129.0
          Wednesday                   NaN               1.0     70.0
16        Monday                     27.0             105.0     48.0
          Tuesday                     NaN              36.0     72.0
          Wednesday                  73.0              17.0     87.0
17        Monday                      NaN               NaN      NaN
          Wednesday                   NaN               NaN      NaN
18        Monday                      NaN              12.0    850.0
          Tuesday                     1.0               3.0    313.0
          Wednesday                   NaN               3.0    211.0
19        Monday                      NaN              24.0    204.0
          Tuesday                     2.0              95.0     99.0
          Wednesday                  23.0              65.0    115.0
20        Monday                     14.0              38.0    754.0
          Tuesday                     3.0              81.0    574.0
          Wednesday                  18.0              38.0    655.0
21        Monday                    122.0              88.0    114.0
          Tuesday                   107.0              85.0    198.0
          Wednesday                 155.0             138.0    160.0
22        Monday                      NaN              24.0      NaN
          Tuesday                    74.0              55.0     71.0
          Wednesday                  34.0              24.0     42.0

operation              Receiving
warehouse WeekDayName
10        Monday           184.0
          Tuesday           98.0
          Wednesday        163.0
102       Monday             NaN
          Tuesday            NaN
          Wednesday          NaN
12        Monday            61.0
          Tuesday            6.0
          Wednesday          NaN
15        Monday             2.0
          Tuesday            NaN
          Wednesday          2.0
16        Monday            71.0
          Tuesday           83.0
          Wednesday         24.0
17        Monday            86.0
          Wednesday          4.0
18        Monday            37.0
          Tuesday            NaN
          Wednesday         18.0
19        Monday            56.0
          Tuesday           26.0
          Wednesday         51.0
20        Monday             NaN
          Tuesday           30.0
          Wednesday          6.0
21        Monday           202.0
          Tuesday          113.0
          Wednesday        105.0
22        Monday            45.0
          Tuesday           37.0
          Wednesday         31.0

In [72]:
# Convert NaN to 0
dc_df_zero = dc_df.fillna(0)
# Convert Float to Int
dc_df_zero_2 = dc_df_zero.astype(int)
# Replace Zero with Empty
dc_df_zero_2.replace([0, ''], '', inplace=True)

dc_df_zero_2

operation             Batch Move Count Inventory Adjustment InventoryMove  \
warehouse WeekDayName
10        Monday             251    58                   11             7
          Tuesday             98   136                   11             7
          Wednesday          122    30                   12            20
102       Monday
          Tuesday
          Wednesday
12        Monday
          Tuesday                                         1
          Wednesday
15        Monday                     7                                  1
          Tuesday                   57                    1
          Wednesday                 18                    1
16        Monday                                                        1
          Tuesday
          Wednesday
17        Monday
          Wednesday
18        Monday             166                          1             1
          Tuesday             25
          Wednesday            8                                        2
19        Monday
          Tuesday                    5                                 66
          Wednesday                  2                    1             9
20        Monday                    73                    2             2
          Tuesday                   80                    2
          Wednesday                 68                    1             1
21        Monday
          Tuesday
          Wednesday
22        Monday
          Tuesday                                        15
          Wednesday

operation             License Plate Pick LicensePlateMove Picking Receiving
warehouse WeekDayName
10        Monday                      11               27    2453       184
          Tuesday                     21               54    1016        98
          Wednesday                   70               66    1524       163
102       Monday                       1                1       1
          Tuesday                      1                1       1
          Wednesday                    3                3       3
12        Monday                                       67                61
          Tuesday                     24                6      34         6
          Wednesday                   31                8     144
15        Monday                                        5     316         2
          Tuesday                      3                2     129
          Wednesday                                     1      70         2
16        Monday                      27              105      48        71
          Tuesday                                      36      72        83
          Wednesday                   73               17      87        24
17        Monday                                                         86
          Wednesday                                                       4
18        Monday                                       12     850        37
          Tuesday                      1                3     313
          Wednesday                                     3     211        18
19        Monday                                       24     204        56
          Tuesday                      2               95      99        26
          Wednesday                   23               65     115        51
20        Monday                      14               38     754
          Tuesday                      3               81     574        30
          Wednesday                   18               38     655         6
21        Monday                     122               88     114       202
          Tuesday                    107               85     198       113
          Wednesday                  155              138     160       105
22        Monday                                       24                45
          Tuesday                     74               55      71        37
          Wednesday                   34               24      42        31

In [88]:
dc_df_zero_2 = dc_df_zero_2.reset_index()
dc_df_zero_2

operation,warehouse,WeekDayName,Batch Move,Count,Inventory Adjustment,InventoryMove,License Plate Pick,LicensePlateMove,Picking,Receiving
0,10,Monday,251,58,11,7,11,27,2453,184
1,10,Tuesday,98,136,11,7,21,54,1016,98
2,10,Wednesday,122,30,12,20,70,66,1524,163
3,102,Monday,,,,,1,1,1,
4,102,Tuesday,,,,,1,1,1,
5,102,Wednesday,,,,,3,3,3,
6,12,Monday,,,,,,67,,61
7,12,Tuesday,,,1,,24,6,34,6
8,12,Wednesday,,,,,31,8,144,
9,15,Monday,,7,,1,,5,316,2
10,15,Tuesday,,57,1,,3,2,129,
11,15,Wednesday,,18,1,,,1,70,2
12,16,Monday,,,,1,27,105,48,71
13,16,Tuesday,,,,,,36,72,83
14,16,Wednesday,,,,,73,17,87,24
15,17,Monday,,,,,,,,86
16,17,Wednesday,,,,,,,,4
17,18,Monday,166,,1,1,,12,850,37
18,18,Tuesday,25,,,,1,3,313,
19,18,Wednesday,8,,,2,,3,211,18
20,19,Monday,,,,,,24,204,56
21,19,Tuesday,,5,,66,2,95,99,26
22,19,Wednesday,,2,1,9,23,65,115,51
23,20,Monday,,73,2,2,14,38,754,
24,20,Tuesday,,80,2,,3,81,574,30
25,20,Wednesday,,68,1,1,18,38,655,6
26,21,Monday,,,,,122,88,114,202
27,21,Tuesday,,,,,107,85,198,113
28,21,Wednesday,,,,,155,138,160,105
29,22,Monday,,,,,,24,,45
30,22,Tuesday,,,15,,74,55,71,37
31,22,Wednesday,,,,,34,24,42,31

In [109]:
dc_df_zero_2.groupby(['warehouse', 'WeekDayName'])\
            .apply(lambda x: x[['Batch Move', 'Count', 'Inventory Adjustment', 'InventoryMove', 'License Plate Pick',
                                'LicensePlateMove', 'Picking', 'Receiving']]\
            .to_dict('records')).reset_index()\
            .rename(columns={0:'Day'})\
            .to_json('data/card.json', orient='records')

In [55]:
# Save Waves DF into json file
df2.to_json('data/card.json')

In [56]:
# Save Waves DF into json file
df2.to_json('data/card_records.json', orient='records')

In [57]:
# Save Waves DF into json file
df2.to_json('data/card_split.json', orient='split')

In [58]:
# Save Waves DF into json file
df2.to_json('data/card_index.json', orient='index')

In [59]:
# Save Waves DF into json file
df2.to_json('data/card_columns.json', orient='columns')

In [60]:
# Save Waves DF into json file
df2.to_json('data/card_values.json', orient='values')

In [61]:
# Save Waves DF into json file
df2.to_json('data/card_table.json', orient='table')

In [52]:
# Close connection
cnxn.close()